Chargements de librairie nécessaires

In [1]:
import pandas as pd

In [13]:
# Importation des données

data_train = pd.read_excel('DATA/1_congress-vote-modele-bayesien.xls',sheet_name="vote.app")
data_train.head()

  adoption-of-the-budget physician-fee-freeze       group
0                      y                    n    democrat
1                      y                    n    democrat
2                      n                    y  republican
3                      y                    n    democrat
4                      n                    y  republican

In [14]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   adoption-of-the-budget  219 non-null    object
 1   physician-fee-freeze    219 non-null    object
 2   group                   219 non-null    object
dtypes: object(3)
memory usage: 5.3+ KB

In [15]:
data_train.describe()

       adoption-of-the-budget physician-fee-freeze     group
count                     219                  219       219
unique                      2                    2         2
top                         y                    n  democrat
freq                      117                  121       127

In [223]:
data_tcd = data_train[["group","adoption-of-the-budget"]]

In [225]:
data_tcd

          group adoption-of-the-budget
0      democrat                      y
1      democrat                      y
2    republican                      n
3      democrat                      y
4    republican                      n
..          ...                    ...
214    democrat                      n
215    democrat                      y
216  republican                      n
217  republican                      n
218    democrat                      y

[219 rows x 2 columns]

In [243]:
TCD = pd.pivot_table(data=data_tcd,index="group",columns=["adoption-of-the-budget"],aggfunc=len,sort=True,margins=True,margins_name="Total")
TCD

adoption-of-the-budget    n    y  Total
group
democrat                 20  107    127
republican               82   10     92
Total                   102  117    219

In [250]:
data_tcd.pivot_table(index="group",columns="adoption-of-the-budget",values=["adoption-of-the-budget","group"],aggfunc=len,sort=True).apply(lambda x: x/x.sum(),axis=1)

adoption-of-the-budget         n         y
group
democrat                0.157480  0.842520
republican              0.891304  0.108696

In [252]:
TCD.merge(data_tcd.pivot_table(index="group",columns="adoption-of-the-budget",values=["adoption-of-the-budget","group"],aggfunc=len).apply(lambda x: x/x.sum(),axis=1),left_index=True,right_index=True,suffixes=("_count","_freq"))

adoption-of-the-budget  n_count  y_count  Total    n_freq    y_freq
group
democrat                     20      107    127  0.157480  0.842520
republican                   82       10     92  0.891304  0.108696

In [237]:
from itertools import count
from statistics import mean


tcd = data_tcd.pivot_table(index="group",columns="adoption-of-the-budget",values=["adoption-of-the-budget","group"],aggfunc=len).merge(
    data_tcd.pivot_table(index="group",columns="adoption-of-the-budget",values=["adoption-of-the-budget","group"],aggfunc=len).apply(lambda x: x/x.sum(),axis=1),left_index=True,right_index=True,suffixes=("_count","_freq")).merge(
        data_tcd.pivot_table(index="group",values=["adoption-of-the-budget","group"],aggfunc=len),left_index=True,right_index=True).merge(
            data_tcd.pivot_table(index="group",values=["adoption-of-the-budget","group"],aggfunc=len).apply(lambda x: x/x.sum(),axis=0),left_index=True,right_index=True,suffixes=("_count","_freq"))

In [238]:
tcd

,n_count,y_count,n_freq,y_freq,adoption-of-the-budget_count,adoption-of-the-budget_freq
group,,,,,,
democrat,20,107,0.157480,0.842520,127,0.579909
republican,82,10,0.891304,0.108696,92,0.420091