Chargements de librairie nécessaires

In [13]:
import pandas as pd

In [14]:
# Importation des données

data_train = pd.read_excel('DATA/1_congress-vote-modele-bayesien.xls',sheet_name="vote.app")
data_train.head()

  adoption-of-the-budget physician-fee-freeze       group
0                      y                    n    democrat
1                      y                    n    democrat
2                      n                    y  republican
3                      y                    n    democrat
4                      n                    y  republican

In [15]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   adoption-of-the-budget  219 non-null    object
 1   physician-fee-freeze    219 non-null    object
 2   group                   219 non-null    object
dtypes: object(3)
memory usage: 5.3+ KB

In [16]:
data_train.describe()

       adoption-of-the-budget physician-fee-freeze     group
count                     219                  219       219
unique                      2                    2         2
top                         y                    n  democrat
freq                      117                  121       127

In [17]:
data_tcd = data_train[["group","adoption-of-the-budget"]]

In [18]:
data_tcd

          group adoption-of-the-budget
0      democrat                      y
1      democrat                      y
2    republican                      n
3      democrat                      y
4    republican                      n
..          ...                    ...
214    democrat                      n
215    democrat                      y
216  republican                      n
217  republican                      n
218    democrat                      y

[219 rows x 2 columns]

In [19]:
test_tcd_percent = pd.pivot_table(data_tcd, index=['group'], columns=["adoption-of-the-budget"],aggfunc=len,sort=True,margins=True,margins_name="Total").apply(lambda x: (x/x.sum()*100)*2,axis=0)

test_tcd_percent

adoption-of-the-budget           n           y       Total
group
democrat                 19.607843   91.452991   57.990868
republican               80.392157    8.547009   42.009132
Total                   100.000000  100.000000  100.000000

In [20]:
import numpy as np

test_tcd = pd.pivot_table(data_tcd, index=['group'], columns=["adoption-of-the-budget"],aggfunc=len,sort=True,margins=True,margins_name="Total")

test_tcd

adoption-of-the-budget    n    y  Total
group
democrat                 20  107    127
republican               82   10     92
Total                   102  117    219

In [26]:
test_tcd=test_tcd.merge(test_tcd_percent, left_index=True, right_index=True)

In [27]:
test_tcd.columns

Index(['n_x', 'y_x', 'Total_x', 'n_y', 'y_y', 'Total_y'], dtype='object', name='adoption-of-the-budget')

In [29]:
test_tcd.columns = ['No','Yes','Total','No %','Yes %','Total %']
test_tcd

             No  Yes  Total        No %       Yes %     Total %
group
democrat     20  107    127   19.607843   91.452991   57.990868
republican   82   10     92   80.392157    8.547009   42.009132
Total       102  117    219  100.000000  100.000000  100.000000

In [22]:
#test_tcd = test_tcd.merge(data_tcd.pivot_table(index="group",values=["adoption-of-the-budget","group"],aggfunc=len,margins=True,margins_name="Total").apply(lambda x: (x/x.sum()*100)*2,axis=0),left_index=True,right_index=True,suffixes=("_count","_freq"))

In [23]:
#test_tcd

In [24]:
#test_tcd.merge(data_tcd.pivot_table(index="group",columns="adoption-of-the-budget",values=["adoption-of-the-budget","group"],aggfunc=len).apply(lambda x: (x/x.sum()*100),axis=0),left_index=True,right_index=True,suffixes=("_count","_freq"))